.App {
  margin: 0px;
}

.pad {
  padding-left: 50px;
}

.brand {
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.space-brand {
  padding-right: 10px;
}

.myContainer {
  width: 60%;
  margin: auto;
}

.brand a {
  color: black;
}

.footer {
  background-color: rgba(21, 101, 133, 0.459);
}

.stadistic {
  background-color:  #f9f7f7;
  padding-top: 20px;
}

.full {
  padding: 1rem 0;
  margin: 1rem 0 0 0;
}
.main{
 margin-top: 0;
 min-height: 364px;
}

.main--content{
  width: 89%;
  margin: auto;
}

.damit {
  color: red;
  padding: 10px;
}